body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}

img ,iframe{
    max-width: 20%;
    width: 20%;
}

.container {
    max-width: min(80ch, 100vw - 4rem);
    margin-inline: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

nav>ul {
    display: flex;
    gap: 0,5rem;
    list-style: none;
}

h2 {
    max-width: 10%;
}